@page "/"

<PageTitle>Latest - Henrik Lau Eriksson</PageTitle>

<Gravatar />
<h1>Latest</h1>

<div class="section">
    <p>My latest online activities</p>
    <Blog />
    <Twitter />
    <GitHub />
    <Instagram />
    <Spotify />
</div>
