@page "/"

<PageTitle>Latest</PageTitle>

<div class="header">
    <Gravatar />
    <h1>Latest</h1>
</div>
<div class="wrapper">
    <p>My latest online activities</p>
    <Blog />
    <Twitter />
    <GitHub />
    <ErrorBoundary>
        <Instagram />
    </ErrorBoundary>
    <Spotify />
</div>
