@using CommandQuery.Client
@using Latest.Contracts.Queries
@inject IJSRuntime JS
@inject IQueryClient QueryClient

<div>
    <h2>Instagram</h2>
    @((MarkupString)Result!.Html)
</div>

@code {
    private InstagramData? Result = new();

    protected override async Task OnInitializedAsync()
    {
        Result = await QueryClient.GetAsync(new InstagramQuery());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var url = "https://www.instagram.com/embed.js";
        await JS.InvokeVoidAsync("import", url);
    }
}
