@using CommandQuery.Client
@using Latest.Contracts.Queries
@inject IJSRuntime JS
@inject IQueryClient QueryClient

<div @ref="element">
    <h2>Instagram</h2>
    @((MarkupString)Result!.Html)
</div>

@code {
    private ElementReference element;
    private InstagramData? Result = new();

    protected override async Task OnInitializedAsync()
    {
        Result = await QueryClient.GetAsync(new InstagramQuery());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Shared/Social/Instagram.razor.js");
        await module.InvokeVoidAsync("scriptify", element);
    }
}
