@using CommandQuery.Client
@using Latest.Contracts.Queries
@inject IQueryClient QueryClient

<div class="Instagram social">
    <h2>Instagram</h2>
    @((MarkupString)Result!.Html)
</div>

@code {
    private InstagramData? Result = new();

    protected override async Task OnInitializedAsync()
    {
        Result = await QueryClient.GetAsync(new InstagramQuery());
    }
}
