<div class="Twitter social">
    <h2>Twitter</h2>
    <a class="twitter-timeline"
       href="https://twitter.com/hlaueriksson"
       data-chrome="noheader nofooter noborders"
       data-tweet-limit="1">Tweets by hlaueriksson</a>
</div>
