@inject IJSRuntime JS
@inject IOptions<TwitterOptions> options

<div @ref="element">
    <h2>Twitter</h2>
    <a class="twitter-timeline"
       href="@options.Value.Url"
       data-chrome="noheader nofooter"
       data-width="300"
       data-tweet-limit="1">Tweets by hlaueriksson</a>
</div>

@code {
    private ElementReference element;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Shared/Social/Twitter.razor.js");
        await module.InvokeVoidAsync("scriptify", element);
    }
}
