.App-header {
  background-color: #222;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-intro {
  font-size: large;
  font-style: italic;
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.social {
  width: 100%;
}